//Font family
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
$font: 'Passion One', cursive;
//Colores
$colorUno: #233237;
$colorDos: #415f56;
$colorTres: #628468;
$colorCuatro: #93a28a;
$colorCinco: #bdbeb4;
$ColorSeis: #dddcdb;
$colorSiete: #ffffffef;